@media (max-width: 801px) {
  #header {
    display: none;
  }
  .landing-section {
    display: none;
  }
  .about-section {
    padding: 2px;
    background: #222;
    margin: 15px;
    border-radius: 2.5vh;
    background: linear-gradient(#000, transparent, #000);
    border: 2px solid var(--greyText);
    margin-top: 12vh;
  }
  h1 {
    color: var(--Xgreen);
    text-align: center;
    padding: 10px;
    word-spacing: 2px;
  }
  .p-container {
    padding: 4px 20px 10px 20px;
  }
  .about-section p {
    text-align: center;
    color: var(--greyText);
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5rem;
  }
  .recents-section {
    display: flex;
    flex-direction: column;
  }
  .recent-box {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    width: 84vw;
  }
  .alumni-section {
    display: flex;
    flex-direction: column;
  }
  .startup-box {
    width: 84vw;
  }
  .startup-box div p {
    font-size: 1.2rem;
  }
  .ACTIVEachievements {
    color: var(--Xgreen);
    color: #222;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(255, 255, 255, 0.24) 0px 8px 16px;
    cursor: url(images/cursors/pointer.png), auto;
  }
  .achievements-container {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    margin: 3vh 1vh;
  }
  .achievement-box {
    text-align: center;
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(46, 46, 46, 0.711) 5px 5px,
      rgba(217, 217, 217, 0.3) 10px 10px;
    background: linear-gradient(to right, rgba(7, 39, 2, 0.734) 50%, #111 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.1s ease-out;
    border-radius: 0.5vh;
    font-size: 0.9rem;
  }
  .achievement-box:hover {
    background-position: left bottom;
  }
  .ach-box-title {
    color: var(--Xgreen);
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    color: var(--greyText);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    line-height: 3vh;
    padding: 30px 0;
    border-top: 2px solid var(--greyText);
    background: #090909;
    font-size: 1.2rem;
  }
  .contact-section a {
    color: var(--greyText);
    text-decoration: none;
  }
  .contact-section div {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }
  .footer-section {
    padding: 25px;
    background: #000;
    border-top: 2px solid var(--greyText);
    display: flex;
    flex-direction: column;
  }
  .footer-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    height: 8vh;
    margin: 15px 50px;
  }
  .footer-logo-container div {
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-logo-container div a i {
    color: var(--greyText);
    font-size: 2rem;
    margin: 10px;
  }
  .footer-logo-container div a i:hover {
    color: var(--Xgreen);
  }
  .copyright-strip {
    color: var(--greyText);
    text-align: center;
    font-size: 0.85rem;
    margin-top: 20px;
  }
  .sponsor-table {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
  }
  .sponsor-table div {
    width: 44vw;
    padding: 0vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sponsor-table div img {
    width: 100%;
  }
  .sponsor-title {
    color: var(--Xgreen);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1.5vh 0;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 8px;
  }
  .sponsor-para {
    text-align: center;
    color: var(--greyText);
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.5rem;
    padding: 1.5vh 2vw;
  }
  .become-sponsor-section {
    padding: 10px;
    background: #222;
    margin: 0 2.5vw 4vh 2.5vw;
    border-radius: 2.5vh;
    background: linear-gradient(#000, transparent, #000);
    border: 2px solid var(--greyText);
  }
  .become-sponsor-para {
    color: var(--greyText);
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.6rem;
    padding: 2vh 10vw 5vh 10vw;
  }
  .become-sponsor-para h3 {
    color: var(--Xgreen);
  }
  .brochure-download {
    margin-bottom: 6vh;
    text-align: center;
  }
  .brochure-download a {
    color: var(--Xgreen);
    border: 2px solid var(--greyText);
    font-size: 1.2rem;
    word-spacing: 8px;
    text-decoration: none;
    background: #222;
    padding: 15px 25px;
    border-radius: 50px;
  }
  .roverBox {
    display: flex;
    flex-direction: column;
    background: #222;
    margin: 40px 5vw;
    border-radius: 3vh;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
    border: 2px transparent solid;
  }
  .roverBox:hover {
    transform: scale(1.03);
    z-index: -50;
    border: 2px var(--greyText) solid;
  }
  .roverImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .roverImg img {
    max-height: 40vh;
    max-width: 90vw;
    padding: 10px;
    border-radius: calc(3vh + 5px);
  }
  .roverDesc1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    padding: 7.5px 15px;
  }
  .roverDesc1 h2 {
    color: var(--Xgreen);
    text-align: center;
  }
  .roverDesc1 h4 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .roverDesc1 p {
    font-size: 1.1rem;
    word-spacing: 3px;
    color: var(--greyText);
  }
  .roverDesc2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 7.5px 15px;
  }
  .roverDesc2 h2 {
    color: var(--Xgreen);
    text-align: center;
  }
  .roverDesc2 h4 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .roverDesc2 p {
    font-size: 1.1rem;
    word-spacing: 3px;
    color: var(--greyText);
  }
  .single-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .single-row img {
    width: 44vw;
    height: 30vw;
    object-fit: cover;
    margin: 3px;
    border-radius: 4px;
  }
  .album {
    margin: 2.5vh 2vw 1vh 2vw;
    display: flex;
  }
  .gallery-title {
    color: var(--Xgreen);
    font-size: 3rem;
    font-weight: 600;
    margin: 15vh 0 0 0;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 8px;
  }
  .team-unit {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    background: #2c2c2cc0;
    border-radius: 3px;
    max-width: 50vw;
  }
  .team-unit div img {
    height: 16vh;
    border-radius: 2.5px;
  }
  .member-name {
    font-size: 1.1rem;
  }
  .team-post {
    color: var(--Xgreen);
    font-weight: bold;
    font-size: 1rem;
  }
  .department-title {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2vh;
    padding: 0.5vh 0;
    background: linear-gradient(to right, transparent, green, transparent);
  }
  .team-title {
    padding: 14vh 0 4vh 0;
    font-weight: 600;
    text-align: center;
    font-size: 2.2rem;
    color: white;
  }
  nav {
    /* background-color: green; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    border-radius: 0;
    padding: 0 15px;
    background: #333;
    width: 100vw;
    margin: 0;
    height: 9.7vh;
    border: none;
  }
  nav img{
    width: 50vw;
  }
  l {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul li {
    margin-right: 20px;
  }
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  ul li a:hover {
    color: lightgreen;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: #333;
      width: 100%;
      /* height: 60vh; */
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      transition: all 0.3s;
    }
    ul li {
      margin: 15px 0;
    }
    ul li a {
      font-size: 1.1rem;
    }
    #check:checked ~ ul {
      right: 0;
    }
  }
}
